body {
    margin: 1rem;
    font-family: "Mukta", sans-serif;
    text-align: center;
    background-color: rgb(40, 38, 48);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 94vh;
}

.strike {
    text-decoration: line-through;
    background-color: rgb(255, 249, 215);
    font-family: "Mukta", sans-serif;
}
.todo {
    padding: 6px 10px;
    border-bottom: 1px solid rgba(40, 38, 48, 0.267);
}
